


<%- include('../ek/header.ejs', {bot, user,sunucu,url,sunucum,dailyMessage,dailyVoice,top100}) %>
<link rel="stylesheet" href="../css/08c1c3f860e667ff.css">

<div class="center">
  <section class="dashboard-container ">
    <div class="sidebar_sidebar__servers__rR6kY ">
      <div class="user-image">
        <div class=" ">
          <a href="<%=url%>profil/<%=user.id%>">
            <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>" class="sidebar_guild__images__mjUJ3 sidebar_user_image__aws4U" alt="user" draggable="false">
            </a>
        </div>
      </div>
        <div class=" ">
  <a href="<%=url%>server/<%=sunucum.id%>">
  <img class="sidebar_guild__images__mjUJ3" name=<%=sunucum.name%> alt=<%=sunucum.name%> src="https://cdn.discordapp.com/icons/<%=sunucum.id%>/<%=sunucum.icon%>" draggable="false">
  </a>
  </div>
    </div>
    <aside class="sidebar_sidebar__1af5q ">
      <div class="sidebar_sidebar__links__e439P">
      <div id="sidebar_sidebar__server-info__03ViT">
      <img id="sidebar_sidebar__avatar__QDGRP" draggable="false" src="https://cdn.discordapp.com/icons/<%=sunucu.id%>/<%=sunucu.icon%>" alt="server image">
      <h4>
      <%=sunucu.name%>
      </h4>
      </div> 
      <div id="sidebar_sidebar__items__5Hd7R">
    <div class="sidebar_sidebar__general-item__gVnTX sidebar_category_opened__uVDac">
    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L5 5L9 1" stroke="#878787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    </path>
    </svg>
    <h3>GENEL</h3>
    </div>
    <div>
    </div>
    <div class=" ">
      <a href="<%=url%>server/968177149511086080">
      <div class="sidebar_sidebar__general-item-row__0z2Gp sidebar_sidebar__link-active__Jepms">
      <div class="sidebar_sidebar__sidebar-link__1NU9L">
      <div>
      <i class="fas fa-eye">
      </i>Genel Bakış</div>
      </div>
      </div>
      </a>
      </div>
      <div class="sidebar_sidebar__general-item__gVnTX sidebar_category_opened__uVDac">
        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L5 5L9 1" stroke="#878787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        </path>
        </svg>
        <h3>liderlik tablosu</h3>
        </div>
        <div>
        <div class=" ">
        <a href="<%=url%>top/message">
        <div class="sidebar_sidebar__general-item-row__0z2Gp ">
        <div class="sidebar_sidebar__sidebar-link__1NU9L">
        <div>
          <i class="fa-solid fa-message"></i>Mesaj'a göre ilk 100</div>
        </div>
        </div>
        </a>
        </div>
        <div class=" ">
        <a href="<%=url%>top/voice">
        <div class="sidebar_sidebar__general-item-row__0z2Gp ">
        <div class="sidebar_sidebar__sidebar-link__1NU9L">
        <div>
        <i class="fa-solid fa-volume-high">
        </i>Ses'e göre ilk 100</div>
        </div>
        </div>
        </a>
        </div>
        <div class=" ">
          <a href="<%=url%>top/invite">
          <div class="sidebar_sidebar__general-item-row__0z2Gp ">
          <div class="sidebar_sidebar__sidebar-link__1NU9L">
          <div>
            <i class="fa-solid fa-user-plus"></i>Davet'e göre ilk 100</div>
          </div>
          </div>
          </a>
          </div>
          <div class=" ">
            <a href="<%=url%>top/level">
            <div class="sidebar_sidebar__general-item-row__0z2Gp ">
            <div class="sidebar_sidebar__sidebar-link__1NU9L">
            <div>
              <i class="fas fa-medal"></i>Level'e göre ilk 100</div>
            </div>
            </div>
            </a>
            </div>
        </div>
    <div class="sidebar_sidebar__general-item__gVnTX sidebar_category_opened__uVDac">
    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L5 5L9 1" stroke="#878787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    </path>
    </svg>
    <h3>SUNUCU AYARLARI</h3>
    </div>
    <div>
    <div class=" ">
    <a href="<%=url%>server/968177149511086080/mod">
    <div class="sidebar_sidebar__general-item-row__0z2Gp ">
    <div class="sidebar_sidebar__sidebar-link__1NU9L">
    <div>Roller</div>
    </div>
    </div>
    </a>
    </div>
    
    <div class=" ">
      <a href="<%=url%>server/968177149511086080/logs">
      <div class="sidebar_sidebar__general-item-row__0z2Gp ">
      <div class="sidebar_sidebar__sidebar-link__1NU9L">
      <div>Kanallar</div>
      </div>
      </div>
      </a>
      </div>
    
    <div class=" ">
    <a href="<%=url%>server/968177149511086080/welcomer">
    <div class="sidebar_sidebar__general-item-row__0z2Gp ">
    <div class="sidebar_sidebar__sidebar-link__1NU9L">
    <div>Welcome</div>
    </div>
    </div>
    </a>
    </div>
    <div class=" ">
      <a href="<%=url%>server/968177149511086080/welcomer">
      <div class="sidebar_sidebar__general-item-row__0z2Gp ">
      <div class="sidebar_sidebar__sidebar-link__1NU9L">
      <div>Sistem Ayarları</div>
      </div>
      </div>
      </a>
      </div>
    <div class=" ">
    <a href="<%=url%>server/968177149511086080/anti_raid">
    <div class="sidebar_sidebar__general-item-row__0z2Gp ">
    <div class="sidebar_sidebar__sidebar-link__1NU9L">
    <div>Guard</div>
    </div>
    </div>
    </a>
    </div>
    <div class=" ">
    <a href="<%=url%>server/968177149511086080/automod">
    <div class="sidebar_sidebar__general-item-row__0z2Gp ">
    <div class="sidebar_sidebar__sidebar-link__1NU9L">
    <div>Chat Guard</div>
    </div>
    </div>
    </a>
    </div>
    
    <div class=" ">
    <a href="<%=url%>server/968177149511086080/leveling">
    <div class="sidebar_sidebar__general-item-row__0z2Gp ">
    <div class="sidebar_sidebar__sidebar-link__1NU9L">
    <div>Seviye Sistemi</div>
    </div>
    </div>
    </a>
    </div>
    
    
    
    </div>
    <div class="sidebar_sidebar__general-item__gVnTX sidebar_category_opened__uVDac">
    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L5 5L9 1" stroke="#878787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    </path>
    </svg>
    <h3>Diğerleri</h3>
    </div>
    <div>
    <div class=" ">
    <a href="<%=url%>server/968177149511086080/panel_logs">
    <div class="sidebar_sidebar__general-item-row__0z2Gp ">
    <div class="sidebar_sidebar__sidebar-link__1NU9L">
    <div>Kontrol Paneli Kayıtları</div>
    </div>
    </div>
    </a>
    </div>
    </div>
    </div>     
    </aside>
<div style="opacity: 1;">
<div class="pt-25">
<% top100.splice(0,100).forEach((top,index) => { %>
  <% if (top.number == 1) { %>
    <div class="top-container" dir="ltr" style="animation-duration: 0.1s;">
      <div id="top-1">
      <div class="top-user-info">
      <img src="https://cdn.discordapp.com/attachments/1011397607685374033/1055120502236139550/crowns.png" class="top-one-crown" id="top-one-crown-id">
      <img width="100" src="https://cdn.discordapp.com/avatars/<%= top.userID%>/<%=bot.users.cache.get(top.userID).avatar%>" alt=<%=bot.users.cache.get(top.userID).username%> id="top-1-username-avatar">
      <h5 class="top-username"><%=bot.users.cache.get(top.userID).username%></h5>
      </div>
      <div class="top-user-levels-credits">
        <p><%=top.length%></p>

      </div>
      </div>
      </div>
  <% } else if (top.number >1 && top.number <= 10) { %>
    <div class="top-container" dir="ltr" style="animation-duration: 0.2s;">
      <h4 class="top-number-10"><%=index+1%></h4>
      <div class="top-100">
      <div class="top-user-info">
      <img width="100" src="https://cdn.discordapp.com/avatars/<%= top.userID%>/<%=bot.users.cache.get(top.userID).avatar%>" alt=<%=bot.users.cache.get(top.userID).username%> class="top-username-avatar">
      <h5 class="top-username"><%=bot.users.cache.get(top.userID).username%></h5>
      </div>
      <div class="top-user-levels-credits">
        <p><%=top.length%></p>

      </div>
      </div>
      </div>
  <% } else { %>
    <div class="top-container" dir="ltr" style="animation-duration: 1s;">
      <h4 class="top-number"><%=index+1%></h4>
      <div class="top-100">
      <div class="top-user-info">
      <img width="100" src="https://cdn.discordapp.com/avatars/<%= top.userID%>/<%=bot.users.cache.get(top.userID).avatar%>" alt=<%=bot.users.cache.get(top.userID).username%> class="top-username-avatar">
      <h5 class="top-username"><%=bot.users.cache.get(top.userID).username%></h5>
      </div>
      <div class="top-user-levels-credits">
        <p><%=top.length%></p>

      </div>
      </div>
      </div>
   <%}%>
<% }) %>
</div>
</div>



</div>
